<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Stock</th>
      </tr>
      </thead>
      <tbody *ngFor="let shop of shops">
      <tr *ngFor="let item of shop.shopStock?.item_details_list">
        <td>{{ shop.name }}</td>
        <td>{{ shop.description }}</td>
        <td>{{ item }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
