<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngFor="let shop of shops">
      <td>{{ shop.name }}</td>
      <td>{{ shop.description }}</td>
      <td><a class="btn btn-info" routerLink="/users">visit</a></td>
      <!--      </tr>-->
      </tbody>
    </table>
  </div>
</div>
