<div class="container-fluid">
  <div class="row bg-dark">
    <div class="col-sm-3 pt-2">
      <a class="display-5 text-decoration-none text-white " routerLink="/**">{{ title }}</a>
    </div>
    <div class="col-sm-9 text-center">
      <ul class="text-end list-inline pt-1 m-4">
        <li class="list-inline-item">
          <a routerLink="/users" class="btn btn-info">List Users</a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/adduser" class="btn btn-info">Add User</a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/login" class="btn btn-info"
             [hidden]="isLogged()"
          >Login</a>
          <a routerLink="/home" class="btn btn-info"
             [hidden]="!isLogged()"
          >Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
